.calendar-container {
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    max-width: 800px;
    margin: 30px auto;
}

.calendar-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary);
    text-align: center;
    border-bottom: 2px solid #99a9f0;
}

.react-calendar {
    width: 100%;
    border: none;
    font-family: inherit;
    font-size: 16px;
    background-color: #f9f9f9;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    color: var(--primary);
}

.react-calendar__tile {
    color: var(--primary);
    padding: 15px 5px;
    background-color: transparent;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.react-calendar__month-view__days__day--weekend {
    color: #e53935 !important;
}

.react-calendar__tile--now {
    background-color: #e0e7ff;
    color: var(--primary);
    font-weight: bold;
}

.react-calendar__tile--active {
    background-color: var(--secondary);
    color: white;
}

.react-calendar__tile:enabled:hover {
    background-color: #e0e7ff;
    cursor: pointer;
}

.calendar-mode {
    margin-bottom: 10px;
    text-align: center;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-mode .inactive {
    background: #e0e7ff;
    color: white;
}

.vacation-day {
    background-color: #e67e22 !important;
    color: white !important;
}

.delegation-day {
    background-color: var(--secondary) !important;
    color: white !important;
    font-weight: bold;
}

.react-calendar__navigation button {
    background: none;
    color: var(--primary);
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    color: var(--primary);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.75rem;
}

.calendar-error {
    margin-top: 15px;
    color: white;
    background-color: #d9534f;
    padding: 10px;
    border-radius: 5px;
}