.stats-page {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stats-page label,
.stats-page select {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.stats-page p {
    margin: 4px 0;
    font-size: 16px;
}

.recharts-responsive-container {
    margin-top: 2rem;
}

.stats-page h2 {
    border-bottom: 2px solid #99a9f0;
}